node_modules
sftpCache.json
.DS_Store
bower_components
dist
.idea
.htpasswd

kirby/assets/*
!kirby/assets/avatars
kirby/content/*
!kirby/content/.gitkeep
kirby/assets/avatars/*
!kirby/assets/avatars/.gitkeep
kirby/thumbs/*
!kirby/thumbs/.gitkeep
kirby/site/accounts/*
!kirby/site/accounts/.gitkeep
kirby/site/cache/*
!kirby/site/cache/.gitkeep
kirby/site/config/secure.*.php
kirby/site/config/user.*.php

src/css/styles.css
