
.key-visual {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 165px;

	.container {
		padding-top: 45px;
	}
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {

	.key-visual {
		height: 265px;

		.container {
			padding-top: 85px;
		}
	}

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {



}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {



}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {



}
