
.section-text {

	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	.section-content {
		text-align: center;
	}

	.code-embed {
		text-align: center;
	}
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {



}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {



}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {



}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {



}
